<ion-header>
  <ion-navbar>
    <ion-title>What do you want to do?</ion-title>
  </ion-navbar>
</ion-header>
<ion-content scroll="false">
  <ion-list class="home-header">
    <ion-item>
      <ion-avatar item-left>
        <img [src]="member && member.image || 'assets/images/default_user.jpg'">
      </ion-avatar>
    </ion-item>
    <ion-item>
      <h2>{{ member && member.name }}</h2>
      <p>{{ member && member.mail }}</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let menuEntry of menu" (click)="goToPage(menuEntry);showOptions(menuEntry, $event)">
      <i [class]="menuEntry.icon" item-left></i> {{ menuEntry.title }}
      <i class="ion-arrow-down-b" *ngIf="menuEntry.options && menuEntry.options.length" item-right></i>
    </ion-item>
    <ion-item (click)="doLogout()">
      <i class="ion-log-out" item-left></i> Log Out
    </ion-item>
  </ion-list>
</ion-content>
