popover-menu-option {
	ion-list.list {
		margin: 0;

		ion-item.item {
			font-size: 20px;
			min-height: 50px;
			height: 50px;
			background: #D5D9DC;
			color: #fff;
			border-bottom: 1px solid #737A82;

			&:hover {
				background: #49B4E8;
			}
		}
	}
}