<ion-header>
  <ion-navbar>
    <ion-title>Offerings</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list class="app-filters" *ngIf="filterName">
    <ion-item>
      Offerings currently listed in {{ filterName }}
    </ion-item>
  </ion-list>
  <ion-list class="app-items">
    <ion-item *ngFor="let offer of offers">
      <ion-thumbnail item-left>
        <img [src]="offer.image || 'assets/images/default.jpg'">
      </ion-thumbnail>
      <h6>{{ offer.title }}</h6>
      <p class="description" *ngIf="!myActions">{{ offer.description }}</p>
      <button ion-button (click)="showDetails(offer.id)" *ngIf="!myActions">View</button>
      <button class="my-actions view" ion-button (click)="showDetails(offer.id)" *ngIf="myActions">View</button>
      <button class="my-actions edit" ion-button (click)="editOffer(offer)" *ngIf="myActions">Edit</button>
      <button class="my-actions delete" ion-button (click)="deleteOffer(offer.id)" *ngIf="myActions">Delete</button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-list>
    <ion-item *ngIf="canPost">
      <button (click)="addOffer()">Add Offer</button>
    </ion-item>
    <ion-item>
      <button (click)="showFilters()">
        <i class="ion-navicon-round"></i>
      </button>
    </ion-item>
  </ion-list>
</ion-footer>