page-userProfile {
    i{
        float: left;
    }

    .user-description{
        font-size: 12px;
    }

    .user-data{
        font-size: 15px;
    }
    
    .detail-item{
        margin-bottom: 5px;
    }
}
