page-user-profile {
	ion-content.content {
		margin-bottom: 90px;
	}
	ion-list.list.home-header {
		margin: 0;

		ion-item.item {
			font-size: 22px;

			&.balance {
				height: 1em;

				ion-avatar {
					color: #FFF;
			    font-size: 20px;
			    height: 1em;
			    min-height: 1em;
				}
			}
			&:hover {
				background: #737A82;
				color: #FFF;
			}
			i {
				width: 20px;
			}
			.item-inner {
				border: none;
			}
		}
	}
}