// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

html {
	font-size: 1em;
}
ion-header {
	text-align: center;

	ion-navbar.toolbar {
		min-height: 35px;
		height: 35px;

		.back-button.bar-button {
			min-height: 35px;
			height: 35px;
			z-index: 100;

			ion-icon.icon {
				font-size: 22px;
				color: #fff;
			}
			span.back-button-text {
				display: none;
			}
		}
	}
	.toolbar-background {
		background-color: rgba(0, 0, 0, 0.2);
	}
	ion-title.title {
		padding: 0;
		left: 0 !important;
		right: 0 !important;
	}
	.toolbar-title {
		color: white;
		font-size: 20px;
	}
}
ion-content.content {
	background: #399AE1;
}
ion-footer {
	ion-list.list {
		margin: 0;

		ion-item.item {
			border: none;
			padding: 0;
			min-height: 45px;
			height: 45px;
			border: none !important;
			background: none;

			&:last-child {
				button {
					background: #399AE1 !important;
				}
			}
			.item-inner {
				padding: 0;
				border: none;

				ion-label.label {
					margin: 0;
					height: 45px;

					button {
						position: relative;
						top: -2px;
						height: 45px;
						width: 100%;
						padding: 0;
						font-size: 18px;
						background: #737A82;
						color: #fff;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}
ion-list.list.app-filters {
	margin: 0;
	margin-top: 15px;
	padding: 0 15px;
	background: #737A82;
	
	ion-item.item {
		background: #737A82;
		border: none;
		
		ion-label.label {
			text-align: center;
			white-space: normal;
			color: #FFF;
		}
	}
}
ion-list.list.app-items {
	margin: 0;
	margin-top: 15px;
	padding: 0 15px;
	background: #fff;

	&.mini {
		margin: 0;
		margin-bottom: 15px;

		ion-item.item {
			margin: 0;
			height: 30px;
			min-height: 30px;

			ion-avatar {
				margin: 0;
				margin-right: 5px;
				width: 25px;
				min-width: 25px;
				height: 25px;
				min-height: 25px;

				img {
					height: 25px;
					width: 25px;
				}
			}
			.item-inner {
				h6 {
					max-height: 24px;
					height: 24px;
				}
			}
		}
	}
	&.small {
		ion-item.item {
			.item-inner {
				h6 {
					max-height: 24px;
					height: 24px;
				}
				p.description {
					max-height: 22px;
				}
			}
		}
	}
	ion-item.item {
		padding: 0;
		border: none;
		border-bottom: 0.55px solid #737A82;

		ion-avatar {
			margin: 0;
			margin-right: 15px;

			img {
				height: 50px;
				width: 50px;
			}
		}
		ion-thumbnail {
			margin: 11px 15px 11px 0;
			width: 50%;
			max-height: 185px;
			height: 185px;

			img {
				height: 100%;
				width: initial;
				margin: 0 auto;
			}
		}
		.item-inner {
			border: none;

			h6 {
				white-space: normal;
				font-size: 18px;
				max-height: 48px;
				height: 48px;
				overflow: hidden;
			}
			h5 {
				white-space: normal;
				font-size: 18px;
				overflow: hidden;
			}
			p.description {
				white-space: normal;
				font-size: 16px;
				max-height: 88px;
				color: #777D84;
			}
			button {
				background: #399AE1;
				padding: 10px;
				margin: 0;
				height: 30px;
				border-radius: 5px;
			}
		}
	}
}
ion-popover {
	.popover-content {
		border: 1px solid #7A8187;
	}
}
page-add-offer, page-add-transaction, page-add-want {
	.scroll-content {
		margin-top: 50px !important;
		background: #FFF;

		form.app-form {
			margin-top: 0;
		}
	}
}
ion-card.card.app-item-details {
	margin: 0;
	margin-top: 15px;
	width: 100%;
	padding: 15px;

	ion-item.item.item-avatar-title {
		padding: 0;
		min-height: 50px;
		height: 50px;

		ion-avatar {
			margin: 0;
			min-height: 50px;
			height: 50px;
			min-width: 50px;
			width: 50px;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	ion-item.item.item-title {
		padding: 0;
		margin-bottom: 20px;

		ion-label.label {
			margin: 0;
		}
		.subtitle {
			font-size: 16px;
		}
	}
	h2 {
		font-size: 20px;
		color: #399AE1;
		margin-bottom: 15px;
	}
	.image {
		height: 200px;
		width: 100%;
		text-align: center;
		position: relative;
		margin-bottom: 15px;

		&.expanded {
			height: initial;
		}
		.posted {
			background: rgba(0, 0, 0, 0.5);
			font-size: 18px;
			color: #FFF;
			width: 100%;
			position: absolute;
			bottom: 0;
			text-align: left;
			padding: 0 10px;
		}
		img {
			height: 100%;
			width: initial;
			margin: 0 auto;
		}
	}
	p.description {
		font-size: 16px;
		color: #777D84;
		margin-bottom: 15px;
	}
	ion-col {
		padding: 0;

		ion-item.item.item-avatar {
			padding: 0;
			height: 36px;
			min-height: 36px;

			ion-avatar {
				margin: 0;
			}
		}
		ion-item.item {
			padding: 0;

			ion-label.label {
				margin: 0;
			}
			h6 {
				font-size: 18px;
				color: #399AE1;
			}
			p {
				font-size: 16px;
				color: #777D84;
				white-space: normal;
			}
		}
	}
}