form-builder-component {
}
form.app-form {
	margin: 0;
	margin-top: 15px;
	padding: 15px;
	background: #fff;

	ion-list.list {
		margin-bottom: 0;

		ion-item.item {
			border: none;
			min-height: 50px;
			margin-bottom: 10px;
			padding: 0;

			.image {
				text-align: center;
				height: 250px;
				margin-bottom: 10px;
				img {
					height: 100%;
				}
			}
			.item-inner {
				padding: 0;
				border: none !important;

				ion-label.label {
					margin: 0;
				}
				button.button {
					margin: 0;
					height: 40px;
					background: #399AE1;

					&:first-of-type {
						background: #737A82;
					}
				}
			}
		}
		ion-item.item.form-error {
			height: 25px;
			min-height: 25px;

			p {
				color: #db2828;
				font-size: 15px;
				text-align: left;
			}
		}
		ion-item.item.item-input, ion-item.item.item-datetime, ion-item.item.item-select {
			margin-bottom: 10px;
			color: rgba(0, 0, 0, .87);
			border-radius: 5px;
			font-size: 18px;
			border: 1px solid rgba(34, 36, 38, .15) !important;
			box-shadow: none !important;

			&.ng-dirty.ng-invalid {
				margin-bottom: 0;
			}
			.item-inner {
				padding: 0 8px;
			}
			ion-select.select {
				width: 100%;
				max-width: 100%;
				padding: 0;

				div.select-icon {
					width: 20px;
				}
			}
		}
		ion-datetime.datetime {
			padding: 0;
		}
		ion-row {
			ion-col {
				padding: 0;
				padding-left: 5px;
				&:first-of-type {
					padding: 0;
				}
			}
		}
	}

	button.confirm-button {
		background: #399AE1 !important;
    height: 2em;
	}
}