<ion-header>
  <ion-navbar>
    <ion-title>Wants</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list class="app-filters" *ngIf="filterName">
    <ion-item>
      Wants currently listed in {{ filterName }}
    </ion-item>
  </ion-list>
  <ion-list class="app-items">
    <ion-item *ngFor="let want of wants">
      <ion-thumbnail item-left>
        <img [src]="want.image || 'assets/images/default.jpg'">
      </ion-thumbnail>
      <h6>{{ want.title }}</h6>
      <p class="description">{{ want.description }}</p>
      <button ion-button (click)="showDetails(want.id)" *ngIf="!myActions">View</button>
      <button class="my-actions view" ion-button (click)="showDetails(want.id)" *ngIf="myActions">View</button>
      <button class="my-actions edit" ion-button (click)="editWant(want)" *ngIf="myActions">Edit</button>
      <button class="my-actions delete" ion-button (click)="deleteWant(want.id)" *ngIf="myActions">Delete</button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-list>
    <ion-item *ngIf="canPost">
      <button (click)="addWant()">Add Want</button>
    </ion-item>
    <ion-item>
      <button (click)="showFilters()">
        <i class="ion-navicon-round"></i>
      </button>
    </ion-item>
  </ion-list>
</ion-footer>