<ion-item [formGroup]="fieldForm" [ngSwitch]="field.type">
  <ion-label *ngIf="field.placeholder">{{ field.label }}</ion-label>

	<ion-textarea *ngSwitchCase="'textarea'" [placeholder]="field.$placeholder" [required]="field.required === true" [formControlName]="field.name" [attr.rows]="field.lines || 2"></ion-textarea>

	<input *ngSwitchCase="'date'" type="hidden" [required]="field.required === true" [formControlName]="field.name">
	<ion-datetime *ngSwitchCase="'date'" [required]="field.required === true" [min]="field.parsedMin" [max]="field.parsedMax" [formControlName]="'$date' + field.name"></ion-datetime>

	<ion-select *ngSwitchCase="'select'" [placeholder]="field.$placeholder" [required]="field.required === true" [formControlName]="field.name" [multiple]="field.multiple">
    <ion-option [value]="option.name" *ngFor="let option of field.options | keys">{{ option }}</ion-option>
  </ion-select>

	<input *ngSwitchCase="'image'" type="hidden" [required]="field.required === true" [formControlName]="field.name">
	<div *ngSwitchCase="'image'" class="image">
		<img *ngIf="field.imgSrc" [src]="field.imgSrc">
	</div>
	<button *ngSwitchCase="'image'" ion-button full (click)="addImage()"><i class="image icon"></i>Add Image</button>
	<button *ngSwitchCase="'image'" ion-button full (click)="takePhoto()"><i class="photo icon"></i>Take Photo</button>

	<ion-input *ngSwitchDefault type="text" [placeholder]="field.$placeholder" [required]="field.required === true" [formControlName]="field.name"></ion-input>

</ion-item>
<ion-item class="form-error" *ngIf="field.errors">
  <p>{{ field.errors }}</p>
</ion-item>